/* panel */

.stageLineChartContainer {
  border: 1px solid rgb(220, 220, 220);
  border-radius: 2%
}

.divider {
  margin-bottom: 30px !important;
}

/* loading */
.loadingChart {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* lastest Activity */
.activityItem:first-child {
  margin-top: 0.4rem;
}

.activityItem {
  margin-bottom: 0.4rem;
}

.loading-activity {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* loadinng Icons */

img.loadingIcon {
  width: 1.5rem;
  height: auto;
}

@media (max-width: 960px) {
  img.loadingIcon {
    width: 1rem
  }
}

.loadingIcon.hidden {
  display: none;
}

.loadingIcon.standard-loading {
  font-size: 1.3rem;
  color: rgb(169, 169, 169);
}

img.loadingIcon.loading-huge {
  width: 5rem;
}