.mainContentWrapper {
  margin-left: 16.5rem;
  margin-top: 5rem;
  padding-bottom: 4rem;

  @media only screen and (max-width: 600px) {
    margin-left: 0;
  }
}

.mainContentWrapper.minimized {
  margin-left: 6rem;

  @media only screen and (max-width: 600px) {
    margin-left: 0;
  }
}
